{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Hero Section-->
    <section class="hero hero-image light-overlay" style="background-image: url('/tienda.jpg');">
        <div class="container overlay-content" >
          <!-- Hero Content-->
          <div class="hero-content">
            <h1 class="hero-heading">Tienda</h1>
          </div>
        </div>
    </section>


        <div class="row">
            <!-- Grid -->
            <div class="products-grid col-xl-9 col-lg-8 order-lg-2">

                <div class="row">
                    <!-- product-->
                    <div class="col-xl-4 col-6">
                        <div class="product product-type-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="0">
                            <div class="product-image mb-md-3">
                                <div class="product-badge badge bg-secondary">Fresh</div><a href="detail-1.html">
                                    <div class="product-swap-image"><img class="img-fluid product-swap-image-front"
                                            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/0987188250_1_1_1.jpg"
                                            alt="product"><img class="img-fluid"
                                            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/0987188250_2_1_1.jpg"
                                            alt="product"></div>
                                </a>
                                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                                        <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                                            <use xlink:href="#retail-bag-1"> </use>
                                        </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                                    <div><a class="text-dark text-primary-hover me-2" href="#!">
                                            <svg class="svg-icon svg-icon-heavy">
                                                <use xlink:href="#heart-1"> </use>
                                            </svg></a><a class="text-dark text-primary-hover text-decoration-none"
                                            href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                                            <svg class="svg-icon svg-icon-heavy">
                                                <use xlink:href="#expand-1"> </use>
                                            </svg></a></div>
                                </div>
                            </div>
                            <div class="position-relative">
                                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">White Tee</a></h3>
                                <p class="text-gray-600 text-sm">
                                    <s class="me-2 text-gray-500">$40.00</s><span>$20.00</span>
                                </p>
                                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i
                                        class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i
                                        class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- /product   -->

                    <!-- product-->
                    <div class="col-xl-4 col-6">
                        <div class="product product-type-0 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="0">
                            <div class="product-image mb-md-3"><a href="detail-1.html">
                                    <div class="product-swap-image"><img class="img-fluid product-swap-image-front"
                                            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/0950354513_1_1_1.jpg"
                                            alt="product"><img class="img-fluid"
                                            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/0950354513_2_1_1.jpg"
                                            alt="product"></div>
                                </a>
                                <div class="product-hover-overlay"><a class="text-dark text-sm" href="#!">
                                        <svg class="svg-icon text-primary-hover svg-icon-heavy d-sm-none">
                                            <use xlink:href="#retail-bag-1"> </use>
                                        </svg><span class="d-none d-sm-inline">Add to cart</span></a>
                                    <div><a class="text-dark text-primary-hover me-2" href="#!">
                                            <svg class="svg-icon svg-icon-heavy">
                                                <use xlink:href="#heart-1"> </use>
                                            </svg></a><a class="text-dark text-primary-hover text-decoration-none"
                                            href="#!" data-bs-toggle="modal" data-bs-target="#quickView">
                                            <svg class="svg-icon svg-icon-heavy">
                                                <use xlink:href="#expand-1"> </use>
                                            </svg></a></div>
                                </div>
                            </div>
                            <div class="position-relative">
                                <h3 class="text-base mb-1"><a class="text-dark" href="detail-1.html">Black blouse</a>
                                </h3>
                                <p class="text-gray-600 text-sm"> <span>$40.00 </span>
                                </p>
                                <div class="product-stars text-xs"><i class="fa fa-star text-primary"></i><i
                                        class="fa fa-star text-primary"></i><i class="fa fa-star text-primary"></i><i
                                        class="fa fa-star text-muted"></i><i class="fa fa-star text-muted"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- /product   -->
                </div>

                
            </div>
            <!-- filto-->
            <div class="sidebar col-xl-3 col-lg-4 pe-xl-5 order-lg-1">
                <div class="sidebar-block px-3 px-lg-0">
                    <a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#categoriesMenu" aria-expanded="false" aria-controls="categoriesMenu">
                        Categoria de productos<span class="block-toggler-icon"></span></a>
                    <div class="expand-lg collapse" id="categoriesMenu" role="menu">
                        <h5 class="sidebar-heading d-none d-lg-block">Categoria </h5>
                        <div class="sidebar-icon-menu mt-4 mt-lg-0">
                            <div class="sidebar-icon-menu-item active" 
                                data-bs-target="#subcategories_0" aria-expanded="" aria-controls="subcategories_0"
                                role="menuitem">
                                <div class="d-flex align-items-center">
                                    <svg class="svg-icon sidebar-icon">
                                        <use xlink:href="#trousers-1"> </use>
                                    </svg><a class="sidebar-icon-menu-link fw-bold me-2" href="#">Hombres</a><span
                                        class="sidebar-icon-menu-count"> 120</span>
                                </div>
                            </div>
                            <div class="sidebar-icon-menu-item" 
                                data-bs-target="#subcategories_1" aria-controls="subcategories_1" role="menuitem">
                                <div class="d-flex align-items-center">
                                    <svg class="svg-icon sidebar-icon">
                                        <use xlink:href="#suit-1"> </use>
                                    </svg><a class="sidebar-icon-menu-link fw-bold me-2" href="#">Mujeres</a><span
                                        class="sidebar-icon-menu-count"> 55</span>
                                </div>
                            </div>
                            <div class="sidebar-icon-menu-item" 
                                data-bs-target="#subcategories_2" aria-controls="subcategories_2" >
                                <div class="d-flex align-items-center">
                                    <svg class="svg-icon sidebar-icon">
                                        <use xlink:href="#shirt5-1"> </use>
                                    </svg><a class="sidebar-icon-menu-link fw-bold me-2" href="#">Niños</a><span
                                        class="sidebar-icon-menu-count"> 33</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-block px-3 px-lg-0">
                    <a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#brandFilterMenu" aria-expanded="true" aria-controls="brandFilterMenu">Filtrar por tallas
                        <span class="block-toggler-icon"></span>
                    </a>
                    <!-- Brand filter menu - this menu has .show class, so is expanded by default-->
                    <div class="expand-lg collapse show" id="brandFilterMenu">
                        <h5 class="sidebar-heading d-none d-lg-block">Marcas</h5>
                        <form class="mt-4 mt-lg-0" action="#">
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="brand0" type="checkbox" name="clothes-brand" checked="">
                                    <label class="form-check-label" for="brand0">Calvin Klein<small>(18)</small></label>
                                </div>
                            </div>
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="brand1" type="checkbox" name="clothes-brand" checked="">
                                    <label class="form-check-label" for="brand1">Levi Strauss<small>(30)</small></label>
                                </div>
                            </div>
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="brand2" type="checkbox" name="clothes-brand">
                                    <label class="form-check-label" for="brand2">Hugo Boss <small>(120)</small></label>
                                </div>
                            </div>
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="brand3" type="checkbox" name="clothes-brand">
                                    <label class="form-check-label" for="brand3">Tomi Hilfiger <small>(70)</small></label>
                                </div>
                            </div>
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="brand4" type="checkbox" name="clothes-brand">
                                    <label class="form-check-label" for="brand4">Tom Ford <small>(110)</small></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar-block px-3 px-lg-0">
                    <a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#sizeFilterMenu" aria-expanded="false" aria-controls="sizeFilterMenu">Filtrar por tallas
                        <span class="block-toggler-icon"></span>
                    </a>
                    <!-- filto tallas-->
                    <div class="expand-lg collapse" id="sizeFilterMenu">
                        <h5 class="sidebar-heading d-none d-lg-block">Talla </h5>
                        <form class="mt-4 mt-lg-0" action="#">
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="size0" type="radio" name="size" checked="">
                                    <label class="form-check-label" for="size0">Small</label>
                                </div>
                            </div>
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="size1" type="radio" name="size">
                                    <label class="form-check-label" for="size1">Medium</label>
                                </div>
                            </div>
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="size2" type="radio" name="size">
                                    <label class="form-check-label" for="size2">Large</label>
                                </div>
                            </div>
                            <div class="mb-3 mb-1">
                                <div class="form-check">
                                    <input class="form-check-input" id="size3" type="radio" name="size">
                                    <label class="form-check-label" for="size3">X-Large</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /Sidebar end-->
        </div>
    </div>
    
{% endblock  %}