{% extends 'base.html' %}
{% block content %}



    <div class="py-6"  tabindex="-1" role="dialog" aria-modal="true" style="display: block; padding-left: 0px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body ">
                    <ul class="nav list-inline">
                        <li class="list-inline-item">
                            <a class="nav-link nav-link-lg" role="tab" id="loginModalLinkLogin" aria-controls="loginModalTabLogin" aria-selected="false">Login</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link nav-link-lg active"  href="{% url 'registro' %}" role="tab" id="loginModalLinkRegister" aria-controls="loginModalTabRegister" aria-selected="true">Registrarse</a>
                        </li>
                    </ul>
                    <hr class="mb-2">
                    <div class="tab-content">
                        <div class="tab-pane fade px-2 active show" id="loginModalTabLogin" role="tabpanel" aria-labelledby="loginModalLinkLogin">
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="mb-2">
                                    <label class="form-label" for="email">Correo Electronico</label>
                                    <input class="form-control" id="Correo" name="email" type="email" placeholder="Correo@ejemplo.com">
                                </div>
                                <div class="mb-2">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label" for="loginPassword">Contraseña</label>
                                        </div>
                                    </div>
                                    <input class="form-control" type="password" name="password" id="password" placeholder="Escribe su contraseña">
                                </div>
                                <hr class="my-2 hr-text letter-spacing-2" data-content="OR">
                                <div class="d-grid mb-2">
                                    <button class="btn btn-outline-dark" value="ingresar" type="submit">Iniciar Sesión</button>
                                </div>
                                <div class="d-grid mb-2">
                                    <a class="btn btn-outline-dark" href="{% url 'registro' %}">Resgistrate</a>
                                </div>
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}