{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- Hero Section-->
  <section class="hero hero-image light-overlay" id="fondo6">
      <div class="container overlay-content" >
        <!-- Hero Content-->
        <div class="hero-content">
          <h1 class="hero-heading">Contactenos</h1>
        </div>
      </div>
  </section>
    
  <section class="py-6">
    <div class="container">       
      <div class="row">
        <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
        <h4>Dirección</h4>
        <p class="text-muted">Calle 40 6-18<br>B/ Restrepo<br>Ibagué, <strong>Tolima</strong></p>
      </div>
      <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
        <h4>Teléfono</h4>
        <p class="text-muted">Puede comunicarte a traves de nuestro telé  fono.</p>
        <p class="text-muted"><strong>+57 322 269 7875<br>+57 322 887 5595</strong></p>
      </div>
      <div class="col-md-4 text-center text-md-start">
        <h4>Correo Electrónico</h4>
        <p class="text-muted">No dude en escribirnos al correo electrónico si tienes inquietudes.</p>
        <ul class="list-unstyled text-muted">
          <li>jdosuna4@misena.edu.co</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="bg-gray-200 position-relative overflow-hidden">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 px-0 map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.5022173168131!2d-75.1648970708486!3d4.409436636935223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38daad0da89a07%3A0xf7930afe964c237b!2sCl.%20117%20%2344a%20Sur-29%20a%2044a%20Sur-1%2C%20Ibagu%C3%A9%2C%20Tolima!5e0!3m2!1ses!2sco!4v1663567535785!5m2!1ses!2sco" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        </div>
        <div class="col-lg-6 py-6 px-lg-5 px-xl-6">
          <div class="row py-2 border-bottom">
            <div class="col-6 col-md-12 fw-bold align-self-center">
              <h2 class="fw-bold mb-2">Formulario de solicitud</h2>
              <h5 class="mb-2 text-gray-600">Ubicados en: Calle 40 #6-18</h5>
              <form action="https://mailthis.to/jdosuna4@misena.edu.co" method="post">
                <div class="mb-2">
                  <label class="form-label" for="nombres">Nombre*</label>
                  <input class="form-control" name="username" id="username" type="text" placeholder="Escriba su nombre">
                </div>
                <div class="mb-2">
                  <label class="form-label" for="email">Correo Electronio*</label>
                  <input class="form-control" name="email" id="email" type="email" placeholder="Correo@ejemplo.com">
                </div>
                <div class="mb-2">
                  <label class="form-label" for="telefono">Telefono*</label>
                  <input class="form-control" name="Telefono" id="telefono" type="text" placeholder="Ingrese su numero de telefono">
                </div>
                <div class="mb-4">
                  <label class="form-label" for="">solicitud*</label>
                  <textarea class="form-control" name="Mensaje" id="mensaje"></textarea>
                </div>
                <hr class="my-2 hr-text letter-spacing-2">
                <div class="d-grid mb-3 text-center">
                  <button class="btn btn-outline-dark" type="submit">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </section>
  
{% endblock  %}