#fondo1{
    background: url("../img/home-1-plain.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}
#fondo2{
    background: url("../img/home-2-plain.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}
#fondo3{
    background: url("../img/deal-plain.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}